@font-face {
    font-family: Fantasque;
    src: url('https://raw.githubusercontent.com/kaymmm/CroshCustomFonts/master/FantasqueSansMono-Regular-PA.css');
  }
x-screen { /* This is the element which contains the lines */
  font-weight: bold;
  font-family: "Fantasque", "Roboto Mono", "Noto Mono", monospace !important;
}
x-row { /* The elements for each line; they directly contain the text */
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
body {
  text-shadow: 0.5px 0.5px 0 rgba(255,255,255,0.2);
}
